@import url("./fonts/stylesheet.css");
// @import 'buttons';
@import 'fonts';

#tsparticles {
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}


#w3a-container {
  position: fixed;
  z-index: 50;
}

@tailwind base;
@tailwind components;
@tailwind utilities;